.container{
  
  background: #ccc;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}


.video{
  width: 100%;
}

.c-video{
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
}

.c-comment-and-like{
  display: flex;
  background: #ccc;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.c-comment{
  width: 70%;
  max-width: 800px;
  float:left;
  margin-top: 10px;
}

.c-like{
  width: 30%;
  max-width: 800px;
  margin-top: 10px;
}

.c-video:hover .controls{
  transform: translateY(0);
}

.controls{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.7);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}

.buttons{
  padding: 10px;
}

.buttons button{
  background: none;
  border: 0;
  outline:0;
  cursor: pointer;
}

.buttons button.play:before{
  content: '\f144';
}

.buttons button.pause:before{
  content: '\f28b';
}

.buttons button:before{
  content: '\f144';
  font-family: 'Font Awesome 5 Free';
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  -webkit-font-smoothing: antialiased;

}

.orange-bar{
  height:10px;
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
}

.orange-juice{
  height: 10px;
  background-color: orangered;
}

.boldText{
  font-weight: bold;
}

#commentTable{
  margin-top: 20px;
}

.avatar{
  max-width: 65px;
  max-height: 65px;
}

#avatorDiv{
  float:left;
  padding: 10px;
}

#infoDiv{
  margin-top: 20px;
}

#videoTitle{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.tableTitle{

  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}



